---
title: List of Examples
---
<div class="row">
  <div class="col-12">
    <table class="table table-light">
      <tbody>
      <tr>
        <td colspan="2">
          Object stability in Augmented Reality using Javascript depends on marker/webcam moment.
          <a href="https://aframe.io/blog/arjs/#move-the-camera-or-the-marker" target="_blank">https://aframe.io/blog/arjs/#move-the-camera-or-the-marker</a>
        </td>
      </tr>
      <tr>
        <td><%= link_to 'Sample18', '/sample18.html' %></td>
        <td>Using marker camera <code>&lt;a-marker-camera&gt;</code>. camera is moving and the marker is static </td>
      </tr>
      <tr>
        <td><%= link_to 'Sample19', '/sample19.html' %></td>
        <td>Using entity camera <code>&lt;a-entity camera&gt;</code>. camera is static at all times while the objects or markers are moving</td>
      </tr>
      <tr>
        <td><%= link_to 'Sample20', '/sample20.html' %></td>
        <td>This example using 512x512 marker. To Rotate and Scale with USER input</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <table class="table">
      <tbody>
      <tr>
        <td>* <%= link_to 'Sample 1', '/sample1.html', class: 'text-success' %></td>
        <td>With qr code square pattern ;)</td>
      </tr>
      <tr>
        <td><%= link_to 'Sample 2', '/sample2.html' %></td>
        <td>Working with
          Three.JS <%= link_to 'https://threejs.org', 'https://threejs.org/docs/index.html#manual/introduction/Creating-a-scene', target: :_blank %></td>
      </tr>
      <tr>
        <td><%= link_to 'Sample 3', '/sample3.html' %></td>
        <td>AR.js + <%= link_to 'instascan', 'https://github.com/schmich/instascan', target: :_blank %></td>
      </tr>
      <tr>
        <td>* <%= link_to 'Sample 4', '/sample4.html', class: 'text-success' %></td>
        <td><%= link_to 'jsartoolkit5', 'https://github.com/artoolkit/jsartoolkit5', target: :_blank %></td>
      </tr>
      <tr>
        <td><%= link_to 'Sample 5', '/sample5.html' %></td>
        <td>Three.js + QR Code + working sample code</td>
      </tr>
      <tr>
        <td><%= link_to 'Sample 6', '/sample6.html' %></td>
        <td>Three.js + QR Code + Webcam as background</td>
      </tr>
      <tr>
        <td><%= link_to 'Sample 7', '/sample7.html' %></td>
        <td>three.js + three.ar.js</td>
      </tr>
      <tr>
        <td>* <%= link_to 'Three Js + Background Cam', '/sample8.html', class: 'text-success' %></td>
        <td>three.js + instascan</td>
      </tr>
      <tr>
        <td><%= link_to 'ar js  + jsQR', '/sample9.html' %></td>
        <td>AR.js + <%= link_to 'jsQR', 'https://github.com/cozmo/jsQR', target: :_blank %></td>
      </tr>
      <tr>
        <td>* <%= link_to 'jsartoolkit5', '/sample10.html', class: 'text-success' %></td>
        <td><%= link_to 'jsartoolkit5', 'https://github.com/artoolkit/jsartoolkit5', target: :_blank %> + three.js +
          instascan
        </td>
      </tr>
      <tr>
        <td><%= link_to 'Identify QR Code position', '/sample11.html' %></td>
        <td>three.js and jsQR</td>
      </tr>
      <tr>
        <td><%= link_to 'jsartoolkit5 with QR Code', '/sample12.html' %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= link_to 'Sample 13', '/sample13.html' %></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-6 col-sm-6">
    <table class="table table-light">
      <tbody>
      <tr>
        <td><%= link_to 'Sample14', '/sample14.html' %></td>
        <td>three.js sample</td>
      </tr>
      <tr>
        <td><%= link_to 'Sample15', '/sample15.html' %></td>
        <td>AR.js sample using Square.patt(working demo)</td>
      </tr>
      <tr>
        <td><%= link_to 'Sample16', '/sample16.html' %></td>
        <td>AR.js sample using D.patt</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6 col-sm-6">
    <table class="table table-light">
      <tbody>
      <tr>
        <td><%= link_to 'Sample17', '/sample17.html' %></td>
        <td>Development</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
