---
title: QR Code with AR
---
<table class="table">
  <tbody>
  <tr>
    <td><%= link_to 'Sample 1', '/sample1.html' %></td>
    <td>Working
      with <%= link_to 'https://github.com/schmich/instascan', 'https://github.com/schmich/instascan', target: :_blank %></td>
  </tr>
  <tr>
    <td><%= link_to 'Sample 2', '/sample2.html' %></td>
    <td>Working with
      Three.JS <%= link_to 'https://threejs.org', 'https://threejs.org/docs/index.html#manual/introduction/Creating-a-scene', target: :_blank %></td>
  </tr>
  <tr>
    <td><%= link_to 'Sample 3', '/sample3.html' %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= link_to 'Sample 4', '/sample4.html' %></td>
    <td>Working In Progress</td>
  </tr>
  <tr>
    <td><%= link_to 'Sample 5', '/sample5.html' %></td>
    <td>Three.js + QR Code + working sample code</td>
  </tr>
  <tr>
    <td><%= link_to 'Sample 6', '/sample6.html' %></td>
    <td>Three.js + QR Code + Webcam as background</td>
  </tr>
  </tbody>
</table>
